<% branch.promotions.order(:description).each do |promotion| %>
    <div id="promotion-<%= promotion.id %>" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item promotion-item">
      <i class="fa fa-exclamation"></i> <%= promotion.description %>
      <i class="fa fa-minus-square btn btn-danger btn-xs add-item" title="Eliminar" onclick="union_habtm(this, 'branch', <%= branch.id %>, 'promotion', <%= promotion.id %>, 'delete')"></i>
    </div>
<% end %>
