/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require ../font/font-awesome.min.css
 * require_tree .
 */

@import 'bootstrap';
@import 'variables';

#loading-icon{
  font-size: 2em;
  text-align: center;
}

.container-js-crud{
  position: relative;

  .new-record-js{
    position: absolute;
    right: 5px;
    top: 5px;

    :hover{
      cursor: pointer;
    }
  }

  .object-js-crud{
    position: relative;
  }

  .options-object-js{
    position: absolute;
    right: 2px;
    top: 2px;
    width: auto;

    .option{
      display: inline-block;

      :hover{
        color: #262626;
        cursor: pointer;
      }
    }
    .option:last-child{margin-left: 10px;}
  }
}
