// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index view
#index-head{
  overflow: hidden;
  #title{
    float: left;
  }

  #new_company{
    float: right;
  }
}


.company-container{
  .items{
    overflow: auto;
    margin: 0px 15px 5px;
    .item{
      margin: 5px 0;
    }
  }
  .new-branch{
    float: rigth;
    margin-bottom: 10px;
  }
}

// show view
#company-container{
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;

  .company-name{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .company-options{
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

.object-js-branches{
  margin: 4px 0;

  .fa{ float: left; margin-right: 3px; }
  .name, .address, .phone{display: block}
}

.object-js-products{
  text-align: center;
  img{
    height: 100px;
    width: 100px;
  }
}
