// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index view
#index-head{
  overflow: hidden;
  #title{
    float: left;
  }

  #new_company{
    float: right;
  }
}


.company-container{
  .items{
    overflow: auto;
    margin: 0px 15px 5px;
    .item{
      margin: 5px 0;
    }
  }
  .new-branch{
    float: rigth;
    margin-bottom: 10px;
  }
}

// show view
.company-name{
  text-align: center;
}

.items{
  .item{
    margin: 5px 15px;
  }
}
