// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-signin{
  margin: 100px auto 0 auto;
  width: 300px;
  h2{
    text-align: center;
  }
}